body {
    background: aqua;
    margin:0;
}

header {
    border: thin solid black;
}

nav {
    border: thin solid black;
}

aside {
    border: thin solid black;
}

section {
    border: thin solid black;
}